@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
    background: rgb(17, 0, 36);
    background: linear-gradient(90deg, rgba(17, 0, 36, 0.9475140397956058) 11%, rgba(96, 6, 170, 1) 100%, rgba(0, 212, 255, 1) 100%);
    color: #fff;
}

/* pracitce */
/* .cont{
height: 10vh;
text-align: center;
}
.data{
    height: 20vh;
}
img{
    border-radius: 50%;
    height: 200px;
} */
/* Main code */
.cont {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 5px solid rgba(255, 255, 255, 0.275); */
    text-align: center;
    height: 30vh;
    width: 50vw;
    border-radius: 20px;
}

.img img {
    height: 120px;
    border-radius: 50%;
    width: 120px;
    border: none;
}

.inp {
    height: 7vh;
    width: 30vw;
    border-radius: 12px;
    margin-bottom: 200px;
    padding: 5px;
    text-align: center;
    font-size: 1.3rem;
}

.listofrepos {
    /* background-color: black; */
    margin-top: 25px;
    width: 1000px;
}

.repos {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.repos li {
    list-style-type: none;
    margin: 5px;
    border: 3px solid black;
    padding: 4px;
    border-radius: 6px;
}

.bio {
    font-size: 1.4rem;
}

.socials {
    font-size: 1.2rem;
    color: white;
}

.data {
    /* height: 10vh; */
    /* background-color: yellow; */
}

h1 {
    font-size: 100px;
    opacity: 0.5;
}

.name {
    color: white;
    font-size: 1.4rem;
    /* background-color: red; */
    display: block;
    margin-bottom: 10px;
}

.img {
    width: 900px;
}